<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.loverot.system.mapper.RoleMapper">
    <resultMap id="roleMap" type="cn.loverot.system.entity.Role">
        <result column="ID" jdbcType="DECIMAL" property="id" />
        <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
        <result column="REMARK" jdbcType="VARCHAR" property="remark" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <select id="findUserRole" resultMap="roleMap">
        SELECT
            r.*
        FROM
            t_role r
        LEFT JOIN t_user_role ur ON (r.id = ur.role_id)
        LEFT JOIN t_user u ON (u.id = ur.user_id)
        WHERE
            u.username = #{username}
    </select>

    <select id="findRolePage" parameterType="cn.loverot.system.entity.Role" resultMap="roleMap">
        SELECT
            r.id,
            r.role_name,
            r.remark,
            r.create_time,
            r.update_time,
            GROUP_CONCAT( rm.menu_id ) menuIds
        FROM
            t_role r
                LEFT JOIN t_role_menu rm ON ( r.id = rm.role_id )
        WHERE 1 = 1
        <if test="role.roleName != null and role.roleName != ''">
            AND r.role_name like CONCAT('%',#{role.roleName},'%')
        </if>
        GROUP BY
        r.id
    </select>
</mapper>
